p {
  margin:5px;
}

.keyLabel {
  font-weight: bold;
}

.keyLabel:before {
  content: " ";
}

.keyLabel:after {
  content: " ";
}

.choice {
  font-size:120%;
  border-spacing: 30px 0px;
}

.scale-box {
  border: solid 2px black;
  padding: 5px;
}

.contextPicture {
  display:block;
  margin: auto;
}

.rawText, .waitFor, .deleteAfter, .legend {
  text-align:center;
  margin-top:2px;
  margin-bottom:2px;
  margin-left:auto;
  margin-right:auto;
  padding-top:6px;
  padding-bottom:6px;
}

.deleteAfter {
  text-align:justify;
}
    
.rawText, .waitFor, .legend {
  font-size:1.3em;
}

.deleteAfter {
  font-style: italic;
}

.waitFor .continue-link { font-size:0.77em; }
.continue-link { text-decoration: none; color: blue; cursor: pointer; }
.continue-link:hover { text-decoration: underline; color: blue; }
.continue-link:visited { color: blue; }

li.normal-answer {
    text-align: center;
    cursor: pointer;
    padding-bottom: 1em;
}
li:hover.normal-answer {
    cursor: pointer;
}
li.scale-box {
    float: left;
    list-style: none;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0em;
    padding: 0em;
    text-align: center;
}

li.scale-box a {
    text-decoration: none; 
    display: block;
    vertical-align: middle;
}
li.scale-box a:hover {
    text-decoration: none;
    display: block;
    vertical-align: middle;
}
span.fake-link {
    color: blue;
    cursor: pointer;
}
span:hover.fake-link {
    cursor: pointer;
}
